<div class="tab-content">
   <div id="ember568" role="tabpanel" class="ember-view tab-pane active fade in">
      <div class="paper border-top-0">
        <br />
        <h4>Example pool settings:</h4>
        <pre><code>
          <i>Custom Pool Name</i>: <strong>ETSC</strong> or any what you want
          <i>Algorithm</i>: <strong>DaggerHashimoto</strong>
          <i>Stratum Hostname or IP</i>: <strong>{{config.StratumHost}}</strong>
          <i>Port</i>: <strong>9009</strong>
          <i>Username</i>: you wallet <strong>wallet</strong> address
          <i>Password</i>: <strong>#</strong>
        </code></pre>
      </div>
   </div>
</div>
